.task-card{

    background:white;

    border-radius:12px;

    padding:20px;

    margin-bottom:20px;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    transition:.3s;
}

.task-card:hover{

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,.12);

}

.task-header{

    display:flex;

    gap:15px;

    align-items:flex-start;

}

.task-content{

    flex:1;

}

.task-title{

    margin-bottom:10px;

}

.task-description{

    color:#666;

}

.task-buttons{

    margin-top:20px;

    display:flex;

    justify-content:flex-end;

    gap:12px;

}

.edit-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    font-weight:bold;

}

.delete-btn{

    background:#dc2626;

    color:white;

    border:none;

    padding:10px 18px;

    border-radius:8px;

    font-weight:bold;

}

.edit-btn:hover{

    background:#1d4ed8;

}

.delete-btn:hover{

    background:#b91c1c;

}